<div class="card">
    <div class="text-center">
    <div class="card-body">
      <h5 class="card-title">Fellow Us On</h5>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <a href="www.facebook.com" class="badge badge-primary">facebook</a>
          </div>
          <div class="col-sm">
            <a href="www.twitter.com" class="badge badge-primary">twitter</a>
          </div>
          <div class="col-sm">
            <a href="www.youtube.com" class="badge badge-primary">youtube</a>
          </div>
        </div>
      </div>
     
    </div>
</div>
    <div class="card-footer text-center ">
        © Copyright 2020 IVY Mobilty Digital Library 
      </div>
  </div>